Django
djangorestframework
djangorestframework-simplejwt
python-dotenv
psycopg2-binary
requests
openai
Pillow
firebase-admin
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

